body {
    margin: 0px;
    padding: 0px;
    background-color: #F7F0EA;
    color: #202020;
    font-family: Arial, Helvetica, Verdana, Geneva, sans-serif;
}

header.primary {
    padding: 1rem;
    font-size: 3rem;
    color: #fff;
    text-align: center;
    background-color: #003399;
}

nav.primary {
    padding: 0.5rem 0;
    text-align: center;
}

nav.primary a {
    display: inline-block;
    padding: 0.2rem;
    border: 1px solid black;
    border-radius: 0.2rem;
    color: #5E5D5B;
    background-color: #DBD6D0;
    text-decoration: none;
}

nav.primary a:hover, nav.primary a.active {
    color: #fff;
    background-color: #202020;
}

nav.secondary {
    padding: 0.5rem 0;
    text-align: center;
}

nav.secondary a {
    display: inline-block;
    padding: 0.2rem;
    border: 1px solid black;
    border-radius: 0.2rem;
    color: #5E5D5B;
    background-color: #DBD6D0;
    text-decoration: none;
}

nav.secondary a:hover, nav.secondary a.active {
    color: #fff;
    background-color: #202020;
}

.wrapper {
    margin: 1rem 1rem;
}

a, a:link {
    text-decoration: underline;
    color: #003399;
}

a:hover {
    text-decoration: none;
}

dl, dt, dd {
    margin: 0px;
    padding: 0px;
}

table {
    border-collapse: collapse;
}

tr {

}

td, th {
    padding: 0.5rem;
    border: 1px solid black;
}

.thw-datepicker {
    width: 6rem;
}

.thw-timepicker {
    width: 4rem;
}

.thw-textarea {
    min-width: 25rem;
    width: 100%;
    height: 5rem;
}

.pagination {
    text-align: center;
}

.pagination a {
    padding: 0.1rem;
    border: 1px solid black;
    border-radius: 0.2rem;
    color: #5E5D5B;
    background-color: #DBD6D0;
    text-decoration: none;
}

.pagination a:hover, .pagination a.active {
    color: #fff;
    background-color: #202020;
}

.pagination a.disabled {
    color: #888888;
}

.pagination li {
    display: inline-block;
    list-style: none;
}

.text-center {
    text-align: center;
}

.object-center {
    margin-left: auto;
    margin-right: auto;
}

.event-done {
    background-color: rgba(120, 120, 120, 0.70);
}

.login-hint {
    text-align: right;
    font-size: 0.8rem;
    padding: 0.2rem;
}